{% extends 'base.html.twig' %}
{% block title %}
Tableau de synthèse
{% endblock %}
{% block body %}
	<div class="container">
		<h1 class="text-center txt-orange m-3">
			Veille Informationnelle :
		</h1>
		<div class="container">
			<h2><a href="#">DevOps</a></h2>
		</div>
        <div class="container">
			<h2><a  href="#">DevMobile</a></h2>
		</div>
        <div class="container">
			<h2><a href="#">Symfony</a></h2>
		</div>
	</div>

	<div class="container">
		<h1 class="text-center text-white"> Le Devops</h1>
		<iframe class="w-100 frame-pdf" src="{{asset('pdf/devops.pdf')}}"></iframe>
	</div>

	<div class="container">
		<h1 class="text-center text-white"> Le Développement Mobile</h1>
		<iframe class="w-100 frame-pdf" src="{{asset('pdf/devmobile.pdf')}}"></iframe>
	</div>

	<div class="container">
		<h1 class="text-center text-white"> Symfony </h1>
		<iframe class="w-100 frame-pdf" src="{{asset('pdf/symfony.pdf')}}"></iframe>
	</div>
{% endblock %}