{% extends 'base.html.twig' %}
{% block title %}
Tableau de synthèse
{% endblock %}
{% block body %}
	<div class="container">
		<h1 class="text-center txt-orange m-3">
			Veille Informationnelle :
		</h1>
		<div class="container">
			<h2><a href="#">DevOps</a></h2>
		</div>
        <div class="container">
			<h2><a  href="#">DevMobile</a></h2>
		</div>
        <div class="container">
			<h2><a href="#">Symfony</a></h2>
		</div>
	</div>
{% endblock %}