{% extends 'base.html.twig' %}
{% block title %}
Tableau de synthèse
{% endblock %}
{% block body %}
	<div class="container">
		<h1 class="text-center txt-orange m-3">
			Veille Informationnelle :
		</h1>
		<div class="container">
			<h2><a href="devops.html.twig">DevOps</a></h2>
		</div>
        <div class="container">
			<h2><a  href="devmobile.html.twig">DevMobile</a></h2>
		</div>
        <div class="container">
			<h2><a href="symfony.html.twig">Symfony</a></h2>
		</div>
	</div>
{% endblock %}